h1 , h2
{
  text-align: center;
}




.grid
{
  margin: 0 4rem;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.card
{
  padding: 2rem;
  border: 1px solid black;
}
